.categories_cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    background-color: #bdcfc3c0;
    
}

.header_container{
    display: flex;
    flex-direction: row;
}

img{
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.header h1,
.header h4 {
    position: relative;
    z-index: 2;
}