.categories_cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}